// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'OfficinaSanitcT',sans-serif;} // font header
.fi {font-family: 'kz-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@red: #a00900;
@orange: #b34b00;
@blue: #515071;
@cp: #000000; // color primary
@cl: @red; // color link

// font sizes
@fsp: 15px; // font size primary
@fsh1: 28px; // font size h1
@fsh2: 24px; // font size h2
@fsh3: 20px; // font size h3
@fsh4: 18px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1020px;
@content-padding: 0px;