#page-header {
	position: relative;
	z-index: 1;
	min-height: 370px;
	min-width: @content-width;
	background: url(../images/bg/02.png) no-repeat bottom;
	.logo {
		.fh;
		position: relative;
		z-index: 1;
		float: left;
		margin: 0 0 0 44px;
		text-align: center;
		a {
			display: block;
			width: 241px;
			padding: 225px 5px 0 0;
			background: url(../images/logo/01.png) no-repeat;
			overflow: hidden;
			color: @cp;
			text-decoration: none;
			font-size: 16px;
			mark {
				display: block;
				text-indent: -9999px;
			}
		}
	}
}
#wrapper {
	position: relative;
	.inner {
		.clearfix;
		.box-shadow(0 0 5px fade(#000,30%));
		background: #f7ebc3 url(../images/bg/03.jpg) repeat-y top;
	}
}
#col-main {
	width: 680px;
	margin: 0 50px 30px 0;
	float: right;
}
#col-left {
	width: 200px;
	margin: 0 0 30px 50px;
	float: left;
}
#content {
	.col-left {
		float: left;
		width: 50%;
		padding-right: 10px;
	}
	.col-right {
		float: left;
		width: 50%;
		padding-left: 10px;
	}
}
#col-bottom {
	position: relative;
	.inner {
		.box-shadow(0 0 5px fade(#000,30%));
		background: #f7ebc3 url(../images/bg/03.jpg) repeat-y bottom;
	}
	.bg {
		padding: 110px 60px 55px;
		background: url(../images/bg/12.png) no-repeat top;
	}
}
#page-footer {
	position: relative;
	z-index: 1;
	min-width: @content-width;
	height: 230px; 
	background: url(../images/bg/05.png) no-repeat top;
	.copy {
		text-align: center;
		font-size: 12px;
		p {
			margin: 10px 0;
		}
	}
	.xart {
		margin: 10px 0;
		text-align: center;
		font-size: 10px;
		text-transform: uppercase;
		a {
			text-decoration: none;
			color: @cp;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(25px);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e805';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}