.rul{
	margin: 0;
	padding: 0;
}
.rli{
	margin: 0;
	padding: 0;
	background: none;
	&:before{
		content: '';
	}
}
.rin{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
}
.input_format {
	.rin;
	.transition(0.2s);
	.border-radius(4px);
	position: relative;
	border: 1px solid lighten(@cp,40%);
	border-bottom-color: #fff;
	border-right-color: #fff;
	font-size: @fsp;
	margin: 0 3px 5px 0;
	width: 200px;
	height: 30px;
	padding: 0 10px;
	color: @cp;
	background: #f2e4ba;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		background: lighten(#f2e4ba,3%);
	}
}