@font-face {
  font-family: 'kz-icons';
  src: url('../font/kz-icons.eot?37328680');
  src: url('../font/kz-icons.eot?37328680#iefix') format('embedded-opentype'),
       url('../font/kz-icons.woff?37328680') format('woff'),
       url('../font/kz-icons.ttf?37328680') format('truetype'),
       url('../font/kz-icons.svg?37328680#kz-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'kz-icons';
    src: url('../font/kz-icons.svg?37328680#kz-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "kz-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-clipboard:before { content: '\e807'; } /* '' */
.icon-dropbox:before { content: '\e808'; } /* '' */
.icon-chat-alt:before { content: '\e809'; } /* '' */
.icon-forward-outline:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */