
.icon-search:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-clipboard:before { content: '\e807'; } /* '' */
.icon-dropbox:before { content: '\e808'; } /* '' */
.icon-chat-alt:before { content: '\e809'; } /* '' */
.icon-forward-outline:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */